<html lang="en">

<head>
  <title>Foxes! - Search</title>
  <%- include('_partials/head') %>
</head>

<body>
  <h1>Search</h1>

  <a name="me" rel="nofollow"></a>  
  <%- include('_partials/nav') %>
  <hr>
  
  <p>
    Results for "<%= query %>"
  </p>

  <table>
  <% if (foxes.length === 0) { %>
    <tr>
      <td><p style="color: red;">No results!</p></td>
    </tr>
  <% } %>

  <!-- Populate table with information from the database -->
  <% for (const fox of foxes) { %>
    <tr>
      <!-- foxes.id and foxes.url column -->
      <td><a href="/foxes?id=<%= fox.id %>"><img src="<%= fox.url %>" alt="<%= fox.description %>"></a></td>
      <!-- foxes.description column -->
      <td><%= fox.description %></td>
      <!-- foxes.likes column -->
      <td>Liked <%= fox.likes %> times</td>
    </tr>
  <% } %>
  
  </table>

  <hr>
  <center><img src="https://vistaserv.this-is-a-l.ink/requests/injection-tracker"></center>
</body>

</html>
